.Loading{
    width:50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
}
.Loading1{
    width: 50%;
    display: flex;
    margin-top: 0px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgba(2, 14, 141, 0.808);
}
.Loading1 p{
    width: 5px;
    margin: -4% 20px 0% 4%;
    font-size: 40px;
    color: rgb(49, 123, 60);
    
}
